@page "/product"

 <div class="ProductApp">
       <div class="product-details-container">
         <form class="product-details" @onsubmit="HandleSubmit">
           <h1>Product Details</h1>
           <div class="product-details-left">
           <div class="product-name">
               <div class="product-name-label">
                 <label htmlFor="productName">Product Name</label>
               </div>
               <div class="product-name-text">
                <input class="product-name" value="@productname" @onchange="setProductName" />
               </div>
             </div>           
 
           <div class="company-name">
               <div class="company-name-label">
                 <label htmlFor="companyName">Company Name</label>
               </div>
               <div class="company-name-text">
                <input class="company-name" value="@companyname" @onchange="setCompanyName" />
               </div>
            </div>

            <div class="product-category">
               <div class="product-category-label">
                 <label htmlFor="productCategory">Category</label>
               </div>
               <div class="product-category-text">
                <input class="product-category" value="@productcategory" @onchange="setProductCategory" />
               </div>
            </div>
            <div class="Licence-Type">
               <div class="Licence-Type-Label">
                 <label htmlFor="LicenceType">Licence Type</label>
               </div>
               <div class="Licence-Type-Text">
                 <input class="license-type" value="@licensetype" @onchange="setLicenseType" />
               </div>
             </div>
             <div class="product-price">
               <div class="product-price-label">
                 <label htmlFor="productPrice">Price</label>
               </div>
               <div class="product-price-text">
                 <input class="product-price" value="@productprice" @onchange="setProductPrice" />
               </div>
             </div>
             <div class="product-currency">
               <div class="product-currency-label">
                 <label htmlFor="productCurrency">Currency</label>
               </div>
               <div class="product-currency-text">
                 <input class="product-currency" value="@productcurrency" @onchange="setProductCurrency" />
               </div>
             </div>
             <div class="product-quantity">
               <div class="product-quantity-label">
                 <label htmlFor="productQuantity">Quantity</label>
               </div>
               <div class="product-quantity-text">
                 <input class="product-quantity" value="@productquantity" @onchange="setProductQuantity" />
               </div>
             </div>
             </div>

            <div class="product-details-right">
                    <div class="product-supplier">
               <div class="product-supplier-label">
                 <label htmlFor="productSupplier">Supplier</label>
               </div>
               <div class="product-supplier-text">
                 <input class="product-supplier" value="@productsupplier" @onchange="setProductSupplier" />
               </div>
               </div>
               <div class="product-availabilitystatus">
               <div class="product-availabilitystatus-label">
                 <label htmlFor="productAvailabilityStatus">Availability Status</label>
                 </div>
                 <div class="product-availabilitystatus-text">
                    <input class="product-availabilitystatus" value="@productavailability" @onchange="setProductAvailabilityStatus" />
                 </div>
                 </div>
                 <div class="product-deliveryOptions">
               <div class="product-deliveryOptions-label">
                 <label htmlFor="productDeliveryOptions">Delivery Options</label>
                 </div>
                 <div class="product-deliveryOptions-text">
                    <input class="product-deliveryoptions" value="@productdeliveryoptions" @onchange="setProductDeliveryOption" />
                 </div>
                 </div>
 
                 <div class="product-brandname">
               <div class="product-brandname-label">
                 <label htmlFor="productBrandName">Brand Name</label>
                 </div>
                 <div class="product-brandname-text">
                    <input class="product-brandname" value="@productbrandname" @onchange="setProductBrandName" />
                 </div>
                 </div>
                 <div class="product-modelNumber">
               <div class="product-modelNumber-label">
                 <label htmlFor="productModelNumber">Model Number</label>
                 </div>
                 <div class="product-modelNumber-text">
                    <input class="product-modelnumber" value="@productmodelnumber" @onchange="setProductModelNumber" />
                 </div>
                 </div>
                 <div class="product-discount">
               <div class="product-discount-label">
                 <label htmlFor="productDiscount">Discount</label>
                 </div>
                 <div class="product-discount-text">
                    <input class="product-discount" value="@productdiscount" @onchange="setProductDiscount" />
                 </div>
                 </div>
                 <div class="product-countryofOrigin">
               <div class="product-countryofOrigin-label">
                 <label htmlFor="productCountryofOrigin">Country of Origin</label>
                 </div>
                 <div class="product-countryofOrigin-text">
                    <input class="product-countryoforigin" value="@productcountryoforigin" @onchange="setCountryOfOrigin" />
                 </div>
                 </div>           
            </div>
         </form>
       </div>
    </div>
@code {
    private int currentCount = 0;

    private string? productname = "Product Name";
    private string? companyname = "Company Name";
    private string? productcategory = "Product Category";
    private string? licensetype = "Licence Type";
    private string? productprice = "Product Price";
    private string? productcurrency = "Product Currency";
    private string? productquantity = "Product Quantity";

    private string? productsupplier = "Product Supplier";

    private string? productavailability = "Product Availability Status";

    private string? productdeliveryoptions = "Product Delivery Options";

    private string? productbrandname = "Product Brand Name";

    private string? productmodelnumber = "Product Model Number";

    private string? productdiscount = "Product Discount";

    private string? productcountryoforigin = "Product Country of Origin";
    

    private void IncrementCount()
    {
        currentCount++;
    }

    private void setProductName(ChangeEventArgs e)
    {
        productname = e.Value?.ToString();
    }

    
    private void setCompanyName(ChangeEventArgs e)
    {
        companyname = e.Value?.ToString();
    }

    private void setProductCategory(ChangeEventArgs e)
    {
        productcategory = e.Value?.ToString();
    }
    private void setLicenseType(ChangeEventArgs e)
    {
        licensetype = e.Value?.ToString();
    }
    private void setProductPrice(ChangeEventArgs e)
    {
        productprice = e.Value?.ToString();
    }
    private void setProductCurrency(ChangeEventArgs e)
    {
        productcurrency = e.Value?.ToString();
    }
    private void setProductQuantity(ChangeEventArgs e)
    {
        productquantity = e.Value?.ToString();
    }

    private void setProductSupplier(ChangeEventArgs e)
    {
        productsupplier = e.Value?.ToString();
    }

    private void setProductAvailabilityStatus(ChangeEventArgs e)
    {
        productavailability = e.Value?.ToString();
    }

    private void setProductDeliveryOption(ChangeEventArgs e)
    {
        productdeliveryoptions = e.Value?.ToString();
    }

    private void setProductBrandName(ChangeEventArgs e)
    {
        productbrandname = e.Value?.ToString();
    }

    private void setProductModelNumber(ChangeEventArgs e)
    {
        productmodelnumber = e.Value?.ToString();
    }
    private void setProductDiscount(ChangeEventArgs e)
    {
        productdiscount = e.Value?.ToString();
    }

    private void setCountryOfOrigin(ChangeEventArgs e)
    {
        productcountryoforigin = e.Value?.ToString();
    }

    private void HandleSubmit()
    {
        Console.WriteLine("Form submitted!");
    }

}
